extends ../layouts/default

block intro
	.container
		h1 About The Bullfighter Project

block content
	.container: .well
		h4 At The Bullfighter we demonstrate that you need neither a huge bank account nor a deep understanding of security analysis to day or swing trade. Using simple technical analysis and screening tools, we find opportunities and explain our strategies. If you're trading with a small account, the advent of no-fee brokers allow us to take positions with high probability of profit, but also exit when they turn against us with minimal loss. Our trading philosophy is to trade small, trade often, set tight stops to minimize losses and let our winners run. You will find that we complete anywhere from 3-5 trades per week, holding generally high volitility equities or ETFs for no more than 24-48 hours. We will begin our journey with an account of $1000. Please understand that this type of trading is extremely risky and this site is for demonstration purposes only. Our notifications to you are to enhace transparency only, and not to be construed as investing advice. At any time, please feel free to contact us to provide proof of any trade, although I will be placing screenshots of all of my moves from our account associated with this project.