extends ../layouts/default

block js
	script.
		var graphData = !{JSON.stringify(data.graphData)}
		var fullWidth = !{data.fullWidth}

	script(src='/js/graph.js')

block intro
	.container
		h1= 'Trade History'

block content
	.container: .row: .col-sm-10
		#chart_div