extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/bullogo.png', width='160')

		div
			div#main_title
				h1 The Bullfighter
				hr
			div.link_logo.hidden-xs
				a(href='https://www.instagram.com/the_bullfighter/')
					img(src='/images/insta.png')
			div.link_logo.hidden-xs
				a(href='https://twitter.com/BFT_Trading')
					img(src='/images/twitterlogo.png')
			div.link_logo.hidden-xs
				a(href='https://stocktwits.com/TheBullfighter')
					img(src='/images/st.png')
		p The BFT Project looks to encourage people to actively trade stocks. We demonstrate that with even $1000, you can make huge profits.

		p Visit our trade tab to see our active and past trades, our trading blog for our thoughts on active and potential trades, and our staff blog for other various articles.

		p 
			| As of right now, the quickest way to be alerted of our trades is by following us on 
			a(href='https://twitter.com/BFT_Trading') Twitter 
			| and 
			a(href='https://www.instagram.com/the_bullfighter/') Instagram.