extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/bullogo.png', width='160')
		h1 The Bullfighter
		p We're disproving the myth that it takes a lot of money to day trade.

		p Follow my day-to-day adventures in equity and ETF trades!
		
		hr


